.circle1 {
    height: 250px;
    width: 250px;
    background-color: skyblue;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}

.circle2 {
    height: 250px;
    width: 250px;
    background-color: purple;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}

.circle3 {
    height: 250px;
    width: 250px;
    background-color: pink;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}

.circle4 {
    height: 250px;
    width: 250px;
    background-color: midnightblue;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}

.circle5 {
    height: 250px;
    width: 250px;
    background-color: green;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}

.circle6 {
    height: 250px;
    width: 250px;
    background-color: red;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
}

body {
    background-color: black;
}

button {
    height: 20px;
    width: 100px;
    border-radius: 10px;
    background-color: ivory;
    cursor: pointer;
}